body{
    background-color: rgb(255, 255, 255);
}

.container{
    width: 60%;
    max-width: 800px;
    background: #8400ff9f;
    margin: 30px auto;
}

img{
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius:100%;
    padding: 40px;
    align-items: center;
    zoom: 90%;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: 10px;
}

h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: black;
    margin-left: 10px;
}

p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 18, 18);
    margin-left: 10px;
}

hr{
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

li{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: black;
}

.close{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.close img{
    margin: 20px auto;
    width: 30px;
    height: 30px;
}